*~
instrumentation/build
test/*
__pycache__
*.pyc
*.old
obj-intel64
*.so
*.o
*.out
pdfs/
out.txt
results.tar.gz
test_multiple.py
license.dat
license.txt
pdf-sandbox
third-party/binaryninja/BinaryNinja.zip
parsers/poppler-eval1_sri_build
parsers/poppler-polytracker_build
parsers/dds-slideshow_build
parsers/mupdf-1.18.0_build
